<div class="row stylist">
  <h2>Copy Style Guidelines</h2>

  <h3>Capitalization</h3>

  <p><strong>Headlines</strong></p>
  <p>Title Case, no punctuation.
    <%= display_example(%Q(
<h1 data-toc-skip>My Groups</h1>
)) %>

  <p><strong>Subtitles</strong></p>
  <p>Sentence case, no punctuation.
    <%= display_example(%Q(
<h4 data-toc-skip>Viewing all 2,020 students in this group</h4>
)) %>

  <p><strong>Buttons</strong></p>
  <p>Title Case, no punctuation.</p>
  <%= display_example(%Q(
<button class="btn">Save as a Group</button>
)) %>

  <h3>Hyphens and Dashes</h3>

  <p><strong>en-dash</strong> <small>(U+2013: "–")</small></p>
  <p>Mac shortcut: option/alt + hyphen/minus sign.</p>
  <p>Used between numbers, e.g. 1–2 incidents.</p>
  <br/>

  <p><strong>em-dash</strong> <small>(U+2014: "—")</small></p>
  <p>Mac shortcut: option/alt + shift + hyphen/minus sign.</p>
  <p>We don’t have a use for them in our product yet.</p>
  <br/>

  <p><strong>hyphen</strong> <small>(U+002D: "-")</small></p>
  <p>This is the normal hyphen/minus sign on keyboards.</p>
  <p>
    Never use a hyphen in place of an en dash or an em dash.
    Never use a hyphen in the phrase “At risk”.
    Always use a hyphen when writing “Social-emotional learning”.
  </p>
  <br/>

  <h3>Gender-neutral language</h3>

  <p>
    We only use gender neutral language. Do not say “his” and “her”, instead say
    “their”. We don’t ever want to assume a gender for a student even if we have
    their demographic gender attribute, as it may not be self-reported.
  </p>
  <br/>

  <h3>Number formatting</h3>

  <p>Always use comma for digit grouping, e.g. 10,000,000.</p>
  <br/>

  <h3>Possessive pronouns: "Your" vs "My"</h3>

  <p><strong>Student access</strong></p>
  <p>
    For student access to the platform, we use <em>first person</em> for
    questions we will answer (e.g. "What is <em>my</em> daily attendance?") and
    <em>second person</em> for the answers (e.g. "<em>Your</em> daily attendance
    is not available").
  </p>
  <br/>

  <p><strong>Educator access</strong></p>
  <p>
    For educator access to the platform, we use the 3rd person plural pronoun,
    e.g. “What is <em>their</em> daily attendance?”
    (see <em>Gender-neutral language</em> above).
  </p>

</div>
