<div class="row stylist">
  <h2>Standard Measures</h2>

  <h3>Border Radius</h3>
  <p>Smaller elements have a smaller radius, larger elements like modals have a larger radius. Round elements like student profile images use the radius circle.</p>

  <div class="well">
    <div class="radius radius-sm">$radius-sm</div>
    <div class="radius radius-md">$radius-md</div>
    <div class="radius radius-lg">$radius-lg</div>
    <div class="radius radius-circle">$radius-circle</div>
  </div>

  <h3>Spacers</h3>
  <p>Spacers are used with margins, padding and core elements.</p>

  <div class="well">
    <div class="spacer">
      <div class="space-sm"></div>
      <h3 data-toc-skip>$space-sm</h3>
      <p>5px</p>
    </div>
    <div class="spacer">
      <div class="space-md"></div>
      <h3 data-toc-skip>$space-md</h3>
      <p>10px</p>
    </div>
    <div class="spacer">
      <div class="space-lg"></div>
      <h3 data-toc-skip>$space-lg</h3>
      <p>15px</p>
    </div>
    <div class="spacer">
      <div class="space-xlg"></div>
      <h3 data-toc-skip>$space-xlg</h3>
      <p>20px</p>
    </div>
    <div class="spacer">
      <div class="space-xxlg"></div>
      <h3 data-toc-skip>$space-xxlg</h3>
      <p>40px</p>
    </div>
    <div class="spacer">
      <div class="inc"></div>
      <h3 data-toc-skip>$inc</h3>
      <p>50px</p>
    </div>
  </div>

</div>